<ion-menu side="left" [content]="content">
  <ion-header>
    <ion-toolbar color="nossoerpB">
      <ion-title>Coletor Nosso ERP</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
        <button ion-item *ngFor="let p of pages" (click)="openPage(p)" menuClose>
        {{p.title}}
      </button>
      <!--
      <button ion-item (click)="openPage(InventarioPage)">
        Inventário
      </button>
      <button ion-item (click)="openPage(TransferenciaPage)">
        Transferência
      </button>
      <button ion-item (click)="openPage(sincronizar)">
        Sincronizar
      </button>
      -->
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav #content [root]="rootPage"></ion-nav>
