<!--
  Generated template for the Inventario page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="nossoerpB">
    <ion-title>Inventário</ion-title>
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
  </ion-navbar>

</ion-header>


<ion-content padding>

</ion-content>
