<ion-header>

  <ion-navbar color="nossoerpB">
    <ion-title>Configuração</ion-title>
    <!--<button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>-->
  </ion-navbar>


</ion-header>


<ion-content padding>
  <form (ngSubmit)="send(user, baseUrl);">
    <ion-list>
      <ion-item>
        <ion-label floating>Webservice</ion-label>
        <ion-input type="text" [(ngModel)]="baseUrl" name="baseUrl" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Código do úsuario</ion-label>
        <ion-input type="number" [(ngModel)]="user.usr_codigo" name="usr_codigo" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Úsuario</ion-label>
        <ion-input type="text" [(ngModel)]="user.usr_login" name="usr_login" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Senha</ion-label>
        <ion-input type="password" [(ngModel)]="user.usr_senha" name="usr_senha" required></ion-input>
      </ion-item>
    </ion-list>

    <ion-fab right bottom>
      <button ion-fab color="nossoerpG" type="submit"><ion-icon name="add"></ion-icon></button>
    </ion-fab>
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar color="nossoerpB">
    <ion-title>Coletor Nosso ERP</ion-title>
  </ion-toolbar>
</ion-footer>